.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Bem Vindo!
%section.content
  .container-fluid
    .row
      .col-lg-12
        .card
          .card-body
            .row
              %h4 Relatório estágio
            .row
              %p Projeto Aplicado feito no quinto semestre do curso de sistemas de informação, com a intenção de automatizar os relatórios de estágio gerados no sistema,
              %p visando tornar o processo todo digital, assim tornando-o sustentavel dispensando a necessidade de impressão.
            .row
              %h5 <- Teste as funções no menu lateral!

