.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Bem Vindo!
%section.content
  .container-fluid
    .row
      .col-lg-12
        .card
          .card-body
            %p Esse projeto foi feito blablablablablabla
            .row
              %h5 Teste as funções no menu lateral!

