<table class="row">
  <tbody>
    <tr>
      <th class="small-12 columns first last">
        <table>
          <tr>
            <th>
              <h2> Assine o relatório de estágio de <%= @report.user_name %></h2>
              <h4> Mês: <%= @report.month %></h4>
            </th>
            <th class="expander">
            <%= link_to 'Assine', @url %>
            </th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>