.row 
  .mt-5.col-6
    %h4.mx-5 Status do Relatório

    .card-body
      %table.table
        %tbody
          %tr
            %th Assinatura do estagiário
            %td
              - if @report.user_sign.present?
                %i.fas.fa-check-circle.fa-lg
              - else
                = link_to('Assinar', "#{new_signature_path}?rid=#{@report.id}")
          %tr
            %th Assinatura do supervisor
            %td
              - if @report.supervisor_sign.present?
                %i.fas.fa-check-circle.fa-lg
              - else
                %i.fas.fa-times-circle.fa-lg
          %tr
            %th Assinatura/Aprovação do coordenador
            %td
              - if @report.professor_approved?
                %i.fas.fa-check-circle.fa-lg
              - elsif @report.rejected?
                %i.fas.fa-times-circle.fa-lg
              - else
                %i.fas.fa-ellipsis-h.fa-lg


  .col-6
    - if @report.professor_approved?
      %i.fas.fa-check-circle.fa-lg(style="font-size:100px; margin: 10rem 10rem;")
        %h4(style="margin-top: 10px;") Aprovado
    - elsif @report.rejected?
      %i.fas.fa-times-circle.fa-lg(style="font-size:100px; margin: 10rem 10rem;")
        %h4(style="margin-top: 10px;") Rejeitado
    - else
      %i.fas.fa-ellipsis-h.fa-lg(style="font-size:100px; margin: 10rem 10rem;")
        %h4(style="margin-top: 10px;") Pendente

- if @report.rejected?
  .row
    %p
      = @report.cancel_reason
