%aside.main-sidebar.sidebar-dark-primary.elevation-4
  / Brand Logo
  %a.brand-link{:href => "/"}
    %span.brand-text.font-weight-light Relatório Estágio
  / Sidebar
  .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 652px;"}
    .sidebar{:style => "min-height: 652px; overflow: hidden; width: auto; height: 652px;"}
      / Sidebar user panel (optional)
      .user-panel.mt-3.pb-3.mb-3.d-flex
        .image
          - img_src = current_user.picture.nil? ? "http://placehold.it/160x160" : current_user.picture
          %img.img-circle.elevation-2{alt:"User avatar", src: img_src}/
        .info
          %a.d-block{:href => "#"}
            = current_user.name
      / Sidebar Menu
      %nav.mt-2
        %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
          /
            Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library
          %li.nav-item.has-treeview.menu-open
            %a.nav-link.active{:href => "#"}
              %i.nav-icon.fas.fa-file-prescription
              %p
                Relatórios
                %i.right.fas.fa-angle-left
            %ul.nav.nav-treeview
              - unless current_user.coordenador?
                %li.nav-item
                  %a.nav-link{:href => "/reports/new"}
                    %i.fas.fa-plus-square.nav-icon
                    %p Gerar Novo Relatório
                %li.nav-item
                  %a.nav-link{:href => "/reports"}
                    %i.far.fa-folder-open.nav-icon
                    %p Meus Relatórios

              - if current_user.coordenador?
                %li.nav-item
                  %a.nav-link{:href => "/reports"}
                    %i.far.fa-folder-open.nav-icon
                    %p Relatórios Pendentes
                %li.nav-item.has-treeview
                  %a.nav-link{:href => "#"}
                    %i.nav-icon.fas.fa-history
                    %p
                      Histórico
                      %i.right.fas.fa-angle-left
                  %ul.nav.nav-treeview
                    %li.nav-item
                      %a.nav-link{:href => "/reports?r=approved"}
                        %i.fas.fa-check-double.nav-icon
                        %p Relatórios aprovados
                    %li.nav-item
                      %a.nav-link{:href => "/reports?r=rejected"}
                        %i.fas.fa-hand-paper.nav-icon
                        %p Relatórios rejeitados

              -# - if current_user.admin?
              -#   %li.nav-item
              -#     %a.nav-link{:href => "/reports"}
              -#       %i.far.fa-folder-open.nav-icon
              -#       %p Relatórios Gerados
      / /.sidebar-menu
    / /.sidebar
